/* You can add global styles to this file, and also import other style files */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #eee;
}
  .inner {
    position: relative;
    width: 330px;
    margin: 0 auto;
    padding: 15px;
    animation: fadeinfrombottom 1s;
  }
  @keyframes fadeinfrombottom {
    0% {opacity: 0; bottom: -150px;}
    100% {opacity: 1; bottom: 0}
  }
  .loader {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    animation: spin .7s linear infinite;
  }
  @keyframes spin {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
  }
